<!--
  Generated template for the EditTeacherPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title><ion-icon name='md-color-palette' is-active="false" color="asecon"></ion-icon> Editar Profesor</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="guay">
  <div class="guay">
    <form [formGroup]="editTeacherForm" (ngSubmit)="editTeacher()">
      <fieldset>
        <legend><span class="number">1</span> Info Profesor</legend>

        <div class="name-input">
          <ion-label>Nombre</ion-label>
            <ion-input type="text" formControlName="name" [value]="teacher.name?teacher.name:''"></ion-input>
          <p class="uno" color="danger" ion-text *ngIf="editTeacherForm.get('name').hasError('pattern')">Caracteres inválidos</p>
        </div>

        <div class="surname-input">
          <ion-label>Apellidos</ion-label>
            <ion-input type="text" formControlName="surname" [value]="teacher.surname?teacher.surname:''"></ion-input>
          <p class="uno" color="danger" ion-text *ngIf="editTeacherForm.get('surname').hasError('pattern')">Caracteres inválidos</p>

        </div>

        <div class="email-input">
          <ion-label>Email</ion-label>
            <ion-input type="email" formControlName="email" [value]="teacher.email?teacher.email:''" (ionblur)="validateEmail()" placeholder="mail@example.com"></ion-input>
          <p class="uno" color="danger" ion-text *ngIf="editTeacherForm.get('email').hasError('pattern')">Correo inválido</p>
        </div>

        <div class="phone-input">
          <ion-label>Teléfono</ion-label>
            <ion-input type="tel" formControlName="phone" [value]="teacher.phone?teacher.phone:''"></ion-input>
          <p class="uno" color="danger" ion-text *ngIf="editTeacherForm.get('phone').hasError('pattern')">Teléfono inválido</p>
        </div>

        <div class="address-input">
          <ion-label>Dirección</ion-label>
            <ion-input type="text" formControlName="address" [value]="teacher.address?teacher.address:''" placeholder="Mín. 5 caracteres"></ion-input>
          <p class="uno" color="danger" ion-text *ngIf="editTeacherForm.get('address').hasError('minlength')">Mínimo 5 caracteres</p>
        </div>

      </fieldset>
      <fieldset>
        <legend><span class="number">2</span>Info Adicional</legend>

        <div class="link-input">
          <ion-label>LinkedIn</ion-label>
          <ion-input type="url" formControlName="linkedin" [value]="teacher.linkedin?teacher.linkedin:''"></ion-input>
          <p class="uno" color="danger" ion-text *ngIf="editTeacherForm.get('linkedin').hasError('pattern')">Debe ser una URL</p>
        </div>

        <div class="bio-input">
          <ion-label>Biografía</ion-label>
            <ion-input type="text" formControlName="bio" [value]="teacher.bio?teacher.bio:''" placeholder="Mín. 5 caracteres"></ion-input>
          <p class="uno" color="danger" ion-text *ngIf="editTeacherForm.get('bio').hasError('minlength')">Mínimo 5 caracteres</p>

        </div>

      </fieldset>
      <button class="enter" round ion-button type="submit" [disabled]="!editTeacherForm.valid">Editar</button>
    </form>
  </div>
</ion-content>
